.headerWrapper {
	position: fixed;
	background-color: #0009;
	box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
	z-index: 9;
	top: 0;
	left: 0;
	right: 0;

	&Black {
		background-color: #000;
	}
}

.header {
	height: 72px;
	display: flex;
	align-items: center;
}

.logo {
	height: 52px;
	width: auto;
	display: block;
	cursor: pointer;

	@media only screen and (max-width : 1199px) {
		padding: 0 6px;
	}
}

.burger {
  width: 56px;
  height: 39px;
  position: relative;
  border-radius: 3px;
  margin-left: auto;
	border: 1px solid rgba(255, 255, 255, 0.1);
	z-index: 10;

  &.active {
    .burgerTop {
      top: 17px;
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    .burgerMiddle {
      top: 15px;
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .burgerBottom {
      opacity: 0;
      top: 0;
      transform: rotate(180deg);
    }
  }

  span {
    height: 2px;
    width: 30px;
    position: relative;
    border-radius: 2px;
    left: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
  }

  &Top {
    top: 10px;
    transition: transform 0.3s, top 0.2s;
  }

  &Middle {
    top: 15px;
    transition: transform 0.3s, top 0.2s;
    transition-delay: 0.1s, 0s;
  }

  &Bottom {
    top: 20px;
    transition: all 0.5s;
    transition-delay: 0.1s;
  }
}

@media only screen and (max-width : 1199px) {
	
}
@media only screen and (max-width : 991px) {
	
}
@media only screen and (max-width : 767px) {
	
}
@media only screen and (max-width : 480px) {
	
}
