.item {
    border-radius: 15px;
    background-color: #000;
    padding: 20px 0;
    overflow: hidden;
    color: #fff;
    margin-bottom: 30px;
    cursor: pointer;

    img {
        width: 100%;
    }

    &.single {
        padding: 0;
    }

    .btn {
        margin: 20px auto 0;
        display: block;
    }
}

.name {
    font-size: 48px;
    margin-bottom: 20px;
}
.id {
    color: gray;
}
.info {
    padding: 10px 10px 0;
    height: 70px;
}