.item {
    border-radius: 8px;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: #000;
    border: 1px solid #fff3;
    word-wrap: break-word;

    img {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;
    }

    &.single {
        padding: 0;
    }

    .btn {
        margin: 20px auto 0;
        display: block;
    }
}

.name {
    font-size: 48px;
    margin-bottom: 20px;
}

.id {
    color: gray;
}

.info {
    padding: 15px 15px 0;

    h3 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 10px;
    }
}

.status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;

    .label {
        border: 1px solid #53ff98;
        color: #53ff98;
        font-size: 12px;
        padding: 4px 7px;
        border-radius: 15px;

        &.id {
            border: 1px solid #6c757d;
            color: #6c757d;
        }
    }
}
.itemSingle {
    img {
        width: 100%;
        height: auto;

        @media only screen and (max-width : 767px) {
            margin-bottom: 15px;
        }
    }

    .price {
        color: #53ff98;
        font-size: 24px;
        margin: 10px 0 15px;
        display: inline-block;
    }
}